// $navbg: rgba(255, 255, 255, 0.8);
$navbg: rgba(254, 254, 254, 0.8);
.menu{
  a{border-left: 3px solid transparent;}
  @include breakpoint(small only){
  background-color: $white;
  height: auto;
  }
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: auto;
  float:left;
  .top-bar-uni{
    background-color: $navbg;
    margin:0;
    padding:0;
    display:inline-block;
    @include breakpoint(medium){
    display:inline;
    width:auto;}
  }

  .unicorntop{display:inline-flex; white-space: nowrap;
  li p {
    margin: 1rem 3rem;
    text-transform: uppercase;
    transition: opacity 1s ease-in-out;
    span:first-child {
    font-weight: bold;
    }
    color: $white;
    letter-spacing: 2px;}
  .logo{height: 2rem;}
  li:first-child{
  @include breakpoint(medium){
    padding-bottom:1rem;
  }
    background-color: $navbg;
  }
  @include breakpoint(small only){
    width:100vw;
    background-color: $navbg;
    li p {margin-left: 0;color: $black;}
    li:first-child{
      background-color: transparent;
    }
  }
  }

  .sections{
    @include breakpoint(small only){
    background-color: $white;
    }
    background-color: $navbg;
    position: fixed;
    width: 100vw;
    height: auto;
    bottom: 0;
    // a{
    // border-left: 3px solid transparen;}
    .icons{
      fill: $secondary-color;
      transition-duration: 1s;
      &:hover{ fill: $black;
      transition-duration: 1s;
      transform: scale(1.1);}
      height: 1.4rem;
      @include breakpoint(small only){
      height: 14vw;
      width: 14vw;
      max-height: 1.4rem;
      }
      @include breakpoint(medium){
      margin:.3rem;
    }
    }

      @include breakpoint(medium){
      display:list-item;
      top: 57px;
      width:auto;
      padding-top:2rem;
    }

      li{display:inline-block;}
      @include breakpoint(medium){
      li{display:inline;}
      }
    }
  .bottom-bar-uni{
    @media screen and (max-height: 365px) {
      display: none;
      }
      position:fixed;
      z-index: 1001;
      @include breakpoint(small only){
      right: 0;
      padding-right:10px;
      display: inline-flex;
        a{float:right;
        padding: 18px 10px 0 0;
        }
      }
      @include breakpoint(medium){
      bottom:0;
      margin: 0;
      a{
        padding: 0 22px;
        padding-bottom:15px;
        }
      }
    }
}

.main-content{
  overflow-x: hidden;
  min-height: 100vh;
  /* width: 100%; */
@include breakpoint(medium){
  margin-left: 4.4rem;
  }
}
.content{
  position:relative;
  min-height: 100vh;
  padding: 6em 0;
  @include breakpoint(medium){
  padding: 55px 0;
}
//   background: url('../img/mobile/info.jpg') no-repeat center center;
//   background-size: cover;
//   @include breakpoint(medium){
//   padding: 0;
//   padding-left: 65px;

  }
//
//   width: 100%;
//   min-height:100vh;
// }
.text{
//   z-index: 10;
//   height: auto;
//   width: 100%;
//   background-color: #fefefe;
//   position: absolute;
//   @include breakpoint(small only){
//   margin:20px;
//   margin-bottom:70px;
//   }

    margin: 1rem;
  @include breakpoint(medium){
    margin:0 3rem;
  }

  background-color: $navbg;
  z-index:100;
}

// buttons i altres
// .unicornbutton{
//   margin: 2rem 0;
//   text-transform: uppercase;
//   color:black;
//   &:hover{opacity:0.5;}
//   }


#home{
  // .content{
  //   margin-top: 0px;
  //   padding: 40px 40px 40px 70px;}
  .content{
    background: url('../img/desktop/info.jpg') no-repeat center center;
    background-size: cover;
  }
  .text{
  text-align: center;
  @include breakpoint(medium){
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  }
  @include breakpoint(small only){

    padding:0.5rem 0;
    margin-top:0;
    margin-bottom:0;

    }
  }
  .logohome{
    margin-top:3rem;
    width: 15vh;
    height: 15vh;
  }
  h1{
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: 15px;
    line-height: 1;
    font-weight: 600;
  small{

    font-size: $h3-font-size;
    @include breakpoint(medium){
      font-size: $h1-font-size;
    }
    color: $black;
    letter-spacing: 10px;
    font-weight: 200;
  }}
  p{padding:0 3rem;}
}

#salon .content{
    background: url('../img/desktop/salon.jpg') no-repeat center center;
    background-size: cover;
}
#Dormitorio .content{
  background: url('../img/desktop/dormitorio.jpg') no-repeat center center;
  background-size: cover;
}
#salon, #Dormitorio{
  // base per ensenyar
@include breakpoint(small only){
  .content{
    min-height: 1rem;
    height: auto;
    margin-top: -30px;
    padding-top: 5.5rem;
    padding-bottom: 10px;
  }
  .text{
    height: auto;
    margin: 20px;

  }
}
// fi de base
  .text{
  min-height: 1rem;
      height: auto;
  position:relative;
  padding:1rem;
  @include breakpoint(medium){
  position:absolute;
  bottom:15%;
  right: 0;
  left: 0;
  padding:2rem;}
  }
  .logohome{
    margin-top:3rem;
    width: 130px;
    height: 130px;
  }
  h1{
    text-transform: uppercase;
    font-weight: 500;
  span{ font-size: $h1-font-size*0.8;
    letter-spacing: 16px;
    font-weight: 300;
  }}
  header{
    width:100%;
    h1{float:left}
    a{float:right; margin-top:0.5rem;}
    display:inline-block;
  }
}
#contacto{

  .content{
  background: $medium-gray;
  }
  .text{
    background: transparent;
  }
  header{
    width:100%;
    h1{float:left}
    a{float:right;}
    display:inline-block;
  }
  #formulario{
    position:relative;
    z-index: 10;
    .right{float:right; margin-right: 0.5rem;}
  }
}
.unicornhomb{
  margin: 2rem 0;
}
.unicornbutton{
  text-transform: uppercase;
  color:black;
  font-weight: bold;
  position:relative;
  transition: all 0.2s linear;
&:after{
  content:"";
  top:100%;
  left:0;
  margin-top:5px;
  position:absolute;
  height: 4px;
  width: 0%;
  background-color: $primary-color;
  opacity:0.6;
  transition: all 0.2s linear;
}

&:hover{
  transition: all 0.5s linear;
  &:after{
    width: 100%;
    transition: all 0.5s linear;
  }
}
}
.contentImg{
  position:relative;
  @include breakpoint(small only){
  padding-bottom:3rem;
  }
  img{padding:0.5rem;
  }
}
.alfaba{

  position:relative;
  padding-left:60px;
  width: 81rem;

}
.reveal{
border: 1px solid transparent;
background-color: transparent;
}
.reveal.large {
  img {
    display: block;
    margin: auto;
    width: 70%;
    border: 1rem solid $white;
}
}
.close-button{
  color: $white;
}
.reveal-overlay {
    position:fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000; }
.unicornNameout{
    opacity: 1;
    @include breakpoint(medium){
    transition: opacity 0.8s ease-in-out;
    opacity: 0;}
    }
.language-active{ color: $black; font-weight: bold;}
.menu-active{
    @include breakpoint(small only){
    border-bottom: 0.15rem solid $primary-color !important;
    }
    @include breakpoint(medium){
    border-left: 0.15rem solid $primary-color !important;
    }
    .icons{
fill: $black !important;
    }
}
.menu-item {
      border-right: 0.15rem solid $navbg;
      border-left: 0.15rem solid $navbg;
}
.baseconjunt{
  position:relative;
  width:100%;
  height: 400px;
}
.xxxvvva{
  position:absolute;
  top:30px;
  bottom:30px;
  left:3rem;
  z-index: 5;
  .columns{
    background-color: $white;
    width: auto;
    padding: 1rem;
  }
}


#map{
position:absolute;
top:0;
width:100%;
height: 400px;
}
.hidefull{
  @include breakpoint(medium){
  display:none;
  }
}
