<div class="grid-x">
  <div class="cell small-4"><img src="../assets/img/mobile/salon-comedor/unicorn_1.jpg"></div>
  <div class="cell small-4"><img src="../assets/img/mobile/salon-comedor/unicorn_2.jpg"></div>
  <div class="cell small-4"><img src="../assets/img/mobile/salon-comedor/unicorn_3.jpg"></div>
  <div class="cell small-6"><img src="../assets/img/mobile/salon-comedor/unicorn_4.jpg"></div>
  <div class="cell small-6"><img src="../assets/img/mobile/salon-comedor/unicorn_5.jpg"></div>
  <div class="cell small-4"><img src="../assets/img/mobile/salon-comedor/unicorn_6.jpg"></div>
  <div class="cell small-4"><img src="../assets/img/mobile/salon-comedor/unicorn_7.jpg"></div>
  <div class="cell small-4"><img src="../assets/img/mobile/salon-comedor/unicorn_8.jpg"></div>
  <div class="cell small-4"><img src="../assets/img/mobile/salon-comedor/unicorn_9.jpg"></div>
  <div class="cell small-4"><img src="../assets/img/mobile/salon-comedor/unicorn_10.jpg"></div>
  <div class="cell small-4"><img src="../assets/img/mobile/salon-comedor/unicorn_11.jpg"></div>
</div>
